html {
  font-family: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

/* DEBUGG */
.debug .container {
  border:2px dotted cadetblue;
  height: 100%;
}

.debug .container [class*="col-"] {
  border: 1px solid coral;
  /* CAMBIO */
  height: 75px;
}

/* COMMON */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.float-r {
  float: right;
}

.ghost-align::before{
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


/* ALTEZZE CONTAINER */
header .container [class*="col-"]:first-child {
  min-height: 75px;
}

header .hero {
  min-height: 554px;
}

main section:first-child{
  min-height: 875px;
}

section:nth-child(2) {
  min-height: 850px;
}

main section:nth-child(3) .container:first-child {
  min-height: 500px;
}
/* HEADER - NAVBAR */
[class*="navbar-"] li {
  display: inline-block;
}

[class*="navbar-"] li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 75px;
  font-size: 0.7rem;
  color: black;
}

.navbar-left li a {
  margin: 0 1.2rem;
}

.navbar-right li:nth-child(2) a {
  padding: 0 0.7rem;
  margin: 0 0.7rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header img{
  width: 4.8rem;
}

.ghost-align::before{
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

nav a .fa {
  display: none;
}

/* MEDIA QUERY - HEADER - NAVBAR */

@media screen and (min-width: 769px) and (max-width: 992px) {
  header img{
    width: 4rem;
  }

  [class*="navbar-"] li a {
    font-size: 0.65rem;
  }

  .navbar-left li a {
    margin: 0 0.8rem;
  }

  .navbar-right li:nth-child(2) a {
    padding: 0 0.5rem;
    margin: 0 0.5rem;

  }
}

@media screen and (max-width: 768px) {
  header img{
    width: 4rem;
  }

  nav a .fa {
    display: inline-block;
    float: right;
    line-height: 75px;
    color: black;
    text-decoration: none;
  }
}

/* HEADER - HERO */

.hero {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hero-bg.jpg");
}

.hero-text {
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-family:'Neue Haas Grotesk Display', sans-serif ;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.hero-text p {
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.hero-link img {
  width: 10rem;
}

/* MAIN - SECTION : LEARNMORE */

.col_right{
  float: right;
}

.col_left{
  float: left;
}

section:first-child .container [class*="col_"] {
  width: 48%;
  text-align: center;
  margin: 5rem 0;
  padding: 6rem 0;
  background-color: #FAFAFA;
}


section:first-child .container [class*="col_"] > img:first-child {
  width: 12rem;
  margin-bottom: 2.2rem;
}

section:first-child .container [class*="col_"] img:nth-child(1n+2) {
  width: 27rem;
  display: inline-block;
}

section:first-child .container [class*="col_"] p {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

section:first-child .container [class*="col_"] a {
  font-size: 1.3rem;
  font-weight: 400;
  text-decoration: none;
  color: #26AFEC;
  margin-bottom: 2.5rem;
  display: block;
}

/* MEDIA QUERY - MAIN - SECTION : LEARNMORE */
@media screen and (min-width: 769px) and (max-width: 992px) {

  section:first-child .container [class*="col_"] > img:first-child {
    width: 9rem;
    margin-bottom: 1.8rem;
  }

  section:first-child .container [class*="col_"] img:nth-child(1n+2) {
    width: 20rem;
    display: inline-block;
  }

  section:first-child .container [class*="col_"] p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.8rem;
  }

  section:first-child .container [class*="col_"] a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #26AFEC;
    margin-bottom: 1.8rem;
  }

}

@media screen and (max-width: 768px) {

  section:first-child .container [class*="col_"] {
    width: 100%;
  }

  section:first-child .container [class*="col_"] > img:first-child {
    width: 12rem;
    margin-bottom: 2.2rem;
  }

  section:first-child .container [class*="col_"] img:nth-child(1n+2) {
    width: 27rem;
    display: inline-block;
  }

  section:first-child .container [class*="col_"] p {
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  section:first-child .container [class*="col_"] a {
    display: block;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    color: #26AFEC;
    margin-bottom: 2.5rem;

  }
}

/* MAIN - SECTION - HOW */

.how-bg {
  height: 500px;
  background-image: url("../img/index-banner.jpg");
  background-position: center;
  background-size: 100% 500px;
}

section:nth-child(2) img {
  width: 16rem;
}

.iphone-frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}

section:nth-child(2) [class*="col-"]  {
  margin-top: 4rem;
}

section:nth-child(2) h2 {
  font-size: 2.1rem;
}

section:nth-child(2) h3 {
  margin-bottom: 1rem;
}

section:nth-child(2) p {
  font-size: 1rem;
  font-weight: 400;
}

/* section:nth-child(2) .dots [class*="col-"] .container {
  height: 25px;
  /* margin-left: 2rem; */
}

section:nth-child(2) i {
  /* margin: 0 0.60rem; */
} */

@media screen and (min-width: 769px) and (max-width: 992px) {
  section:nth-child(2) i {
    margin: 0 0.40rem;
  }
}

@media screen and (max-width: 768px){
  section:nth-child(2) [class*="col-"]:first-child  {
    margin-top: 20rem;

  }

  section:nth-child(2) [class*="col-"]:nth-child(2) {
    margin-top: 1rem;

  }

  /* section:nth-child(2) .dots [class*="col-"] .container{
    margin-top: -15rem;

  } */


}

/* MAIN - SECTION - INFO */

.info-widget-top {
  width: 90%;
  margin:0 auto;
  background-image: url("../img/background-scooter.jpg");
  background-size: 90rem;
  background-position: center;
}

[class*="info-widget-top"] h1 {
  font-family:'Neue Haas Grotesk Display', sans-serif ;
  font-size: 3rem;
  margin-top: 8rem;
  color: white;
}

[class*="info-widget-top"] p {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 2rem 0;
  color: white;
}

[class*="info-widget-top"] a {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 2rem;
  color: white;
  text-decoration: none;
}

[class*="info-"] [class*="col-"] {
  text-align: center;
}

.info-widget-down {
  width: 90%;
  margin:0 auto;
}

.info-widget-down [class*="col_"] {
  width: 48%;
  min-height: 600px;
  margin: 2.5rem 0;
  text-align: center;
}

.info-widget-down .col_left{
  /* background:linear-gradient(0deg,#252F38,#41566A); */
  background-color: #41566A;
  background-image: url("../img/iphone-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position: bottom;
  background-size: 18rem;
}

.info-widget-down .col_right{

  background-image: url("../img/city-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35rem;
}

[class*="info-widget-down"] h1 {
  font-family:'Neue Haas Grotesk Display', sans-serif ;
  font-size: 3rem;
  margin: 4rem 6rem 2rem 6rem;
  color: white;
}

[class*="info-widget-down"] a {
  font-weight: 400;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
}

/* MEDIA QUERY - MAIN - SECTION - INFO */

@media screen and (min-width: 769px) and (max-width:992px) {

  [class*="info-"] h1 {
    font-family:'Neue Haas Grotesk Display', sans-serif ;
    font-size: 2.5rem;
    margin-top: 8rem;
    color: white;
  }

  [class*="info-"] p {
    font-weight: 400;
    font-size: 1rem;
    margin: 1.7rem 0;
    color: white;
  }

  [class*="info-"] a {
    font-weight: 400;
    font-size: 1rem;
    margin-top: 1.7rem;
    color: white;
    text-decoration: none;
  }

  .info-widget-down .col_left{

    background-image: none;

  }
}

@media screen and (max-width:768px) {
  .info-widget-top {

    background-position: right;
  }

  .info-widget-down [class*="col_"] {
    width: 100%;

  }


}

/* FOOTER */

footer .footer-top {
  min-height: 450px;

}

footer .footer-bottom {
  min-height: 200px;
}

footer [class*="footer-"]{
  padding: 5rem;
  background-color: #000000;
  color: white;
}

footer img:first-child {
  width: 8rem;
}

footer h1 {
  margin: 10rem 10rem 10rem 0;
  font-size: 3rem;
}

footer h2 {
  font-size: 1.2rem;
}

footer ul{
  margin-top: 2.5rem;
}

footer li{
  list-style-type: none;
}

footer ul li a {
  font-weight: 400;
  text-decoration: none;
  line-height: 1.7rem;
  color: white;
}

.footer-bottom .social a{
  width:1rem;
  color: white;
  font-size: 1rem;
}

.app img{
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px white;
}

.copyright a {
  font-size: 0.65rem;
  text-decoration: none;
  color: white;
  line-height: 1rem;
  line-height: 0.65rem;
}

.copyright a:nth-child(2){
  margin:0 1rem;
}
