html {
  font-family: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

/* DEBUGG */
.debug .container {
  border:2px dotted cadetblue;
  height: 100%;
}

.debug .container [class*="col-"] {
  border: 1px solid coral;
  /* CAMBIO */
  height: 75px;
}

/* COMMON */
.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.float-r {
  float: right;
}

.ghost-align::before{
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}


/* ALTEZZE CONTAINER */
header .container [class*="col-"]:first-child {
  height: 75px;
}

header .hero {
  height: 554px;
}

/* HEADER - NAVBAR */
[class*="navbar-"] li {
  display: inline-block;
}

[class*="navbar-"] li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 75px;
  font-size: 0.7rem;
  color: black;
}

.navbar-left li a {
  margin: 0 1.2rem;
}

.navbar-right li:nth-child(2) a {
  padding: 0 0.7rem;
  margin: 0 0.7rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header img{
  width: 4.8rem;
}

.ghost-align::before{
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

nav a .fa {
  display: none;
}

/* MEDIA QUERY - HEADER - NAVBAR */

@media screen and (min-width: 769px) and (max-width: 992px) {
  header img{
    width: 4rem;
  }

  [class*="navbar-"] li a {
    font-size: 0.65rem;
  }

  .navbar-left li a {
    margin: 0 0.8rem;
  }

  .navbar-right li:nth-child(2) a {
    padding: 0 0.5rem;
    margin: 0 0.5rem;

  }
}

@media screen and (max-width: 768px) {
  header img{
    width: 4rem;
  }

  nav a .fa {
    display: inline-block;
    float: right;
    line-height: 75px;
    color: black;
    text-decoration: none;
  }
}

/* HEADER - HERO */

.hero {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../img/hero-bg.jpg");
}

.hero-text {
  color: white;
  text-align: center;
}

.hero-text h1 {
  font-family:'Neue Haas Grotesk Display', sans-serif ;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

.hero-text p {
  font-weight: 400;
  margin-bottom: 1.2rem;
}

.hero-link img {
  width: 10rem;
}
