html {
  font-family: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: black;
}

.debug .container {
  border:2px dotted cadetblue;
  height: 100%;
}

.debug .container [class*="col-"] {
  border: 1px solid coral;
  /* CAMBIO */
  height: 75px;
}

.container {
  max-width: 1350px;
}

header .container [class*="col-"]:first-child {
  height: 75px;
}

[class*="navbar-"] li {
  display: inline-block;
}

[class*="navbar-"] li a {
  text-decoration: none;
  text-transform: uppercase;
  line-height: 75px;
  font-size: 0.7rem;
  color: black;
}

.navbar-left li a {
  margin: 0 1.7rem;
}

.navbar-right li:nth-child(2) a {
  padding: 0 0.8rem;
  margin: 0 0.7rem;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

header img{
  width: 80%;
}

.ghost-align::before{
  content:"";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
